.back-button-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: 80%;
    margin: 50px auto;
}

.back-button{
    padding: 10px 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
}

.back-button-itens i{
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
}