.search-form{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-icons i {
    position: absolute;
    
}

.search-input{
    text-align: center;
    padding: 10px;
    border-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.icon{
    padding: 10px;
    text-align: center;
}

.select{
    border-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    box-sizing: border-box;
    
}

